.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 70px;

  .list-container-compressed {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    overflow-y: auto;
  }

  @media (max-width: 700px) {
    .list-container-compressed {
      width: 100%;
    }
  }

  .list-container-full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .detail-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 20px;
    padding-top: 200px;
    border-left: 1px solid #ccc;
  }

  @media (max-width: 700px) {
    .detail-container {
      width: 100%;
      height: 50%;
      position: fixed;
      top: 0;
      left: auto;
      background-color: rgba(240, 240, 240, 0.9);
      border-left: none;
      z-index: 50;
    }
  }
}

.expand-button {
  padding: 10px 20px;
  background-color: #5a9be1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 50px auto;
  margin-bottom: 200px;
  &:hover {
    background-color: #436c99;
  }
}

.close-button,
.open-button {
  z-index: 1000;
  position: fixed;
  top: 50%;
  right: calc(30% - 25px);
  height: 50px;
  width: 50px;
  background-color: rgba(240, 240, 240, 0.9);
  color: #777;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ddddddf3;
  }
}

.open-button {
  right: 0%;
}

@media (max-width: 700px) {
  .close-button {
    top: calc(50% - 25px);
    right: calc(50% - 25px);
    transform: rotate(270deg);
  }
  .open-button {
    top: 70px;
    transform: rotate(270deg);
    right: calc(50% - 25px);
  }
}
