.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #5a9be1;;
}
