.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon img {
  max-width: 100%;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  line-height: 2;
  overflow-x: hidden;
}
